<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #9ae1e0;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            background-color: #d1d9e3;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1, h2 {
            color: #333333;
        }
        h4{
            color: hsl(250, 87%, 45%);
        }

        p {
            color: #666;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Information about my Project</h1>
        <h2>Made by:</h2>
        <h4><strong>Saniya Patel & Rahul Parmar - Group 3</strong></h4>
        <h2>Campus Placement Dataset</h2>
        
        <p>This data set consists of Placement data of students in our campus. It includes secondary and higher secondary school percentage and specialization. It also includes degree specialization, type and Work experience and salary offers to the placed students</p>
        <h3>https://www.kaggle.com/datasets/akritiupadhyayks/placement-data</h3>
        <h3>Definition of Features</h3>
        <ul>
            <li><strong>Gender:</strong> Gender of the student (Male or Female)</li>
            <li><strong>SSC Percentage:</strong> Percentage scored in Secondary School Certificate exam</li>
            <li><strong>SSC Board:</strong> Board of education for SSC (Central or Others)</li>
            <li><strong>HSC Percentage:</strong> Percentage scored in Higher Secondary Certificate exam</li>
            <li><strong>HSC Board:</strong> Board of education for HSC (Central or Others)</li>
            <li><strong>HSC Stream:</strong> Stream of education in HSC (Commerce, Science, or Arts)</li>
            <li><strong>Degree Percentage:</strong> Percentage scored in undergraduate degree</li>
            <li><strong>Degree Type:</strong> Type of undergraduate degree (Comm&Mgmt, Sci&Tech, or Others)</li>
            <li><strong>Work Experience:</strong> Whether the student has work experience (Yes or No)</li>
            <li><strong>Employability Test Percentage:</strong> Percentage scored in employability test</li>
            <li><strong>MBA Specialisation:</strong> Specialization in MBA (Mkt&Fin or Mkt&HR)</li>
            <li><strong>MBA Percentage:</strong> Percentage scored in MBA</li>
        </ul>

        <h2>Housing Dataset</h2>
        <p>House Rent Prediction Dataset with 4700+ Listings</p>
        <h3>https://www.kaggle.com/datasets/iamsouravbanerjee/house-rent-prediction-dataset/data</h3>
        <p>Within this dataset, you will find a comprehensive collection of data pertaining to nearly 4700+ available residential properties, encompassing houses, apartments, and flats offered for rent. This dataset is rich with various attributes, including the number of bedrooms (BHK), rental rates, property size, number of floors, area type, locality, city, furnishing status, tenant preferences, bathroom count, and contact information for the respective point of contact.</p>
        <h3>Definition of Features</h3>
        <ul>
            <li><strong>BHK:</strong> Number of bedrooms, hall, and kitchen in the house</li>
            <li><strong>Size:</strong> Size of the house in square feet</li>
            <li><strong>Floor:</strong> Floor on which the house is located</li>
            <li><strong>Area Type:</strong> Type of area (Super Area, Carpet Area, or Built Area)</li>
            <li><strong>City:</strong> City in which the house is located</li>
            <li><strong>Furnishing Status:</strong> Status of furnishing in the house (Unfurnished, Semi-Furnished, or Furnished)</li>
            <li><strong>Tenant Preferred:</strong> Preference of tenant (Bachelors/Family, Bachelors, or Family)</li>
            <li><strong>Bathroom:</strong> Number of bathrooms in the house</li>
            <li><strong>Point of Contact:</strong> Mode of contacting (Contact Owner, Contact Agent, or Contact Builder)</li>
        </ul>
    </div>
</body>
</html>
